.btn-book:hover {
    background-color: #ffc107 !important;
}

.hero-header {
    background-image: linear-gradient(rgba(15, 13, 43, 0.9), rgba(15, 23, 43, 0.9)), url(/public/asset/img/bg-hero.jpg) !important;
    background-origin: border-box !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
a{
    text-decoration: none;
}
.primey{
    color: #FEA116 !important;
}
.text-white a{
    color: white !important;
}

.item-active {
    display: block !important;
}

.text-primary {
    color: #FEA116 !important;
    font-weight: bold !important;
}

h5 span {
    font-weight: 800 !important;
    line-height: 1.2 !important;
    color: #0F172B !important;
}
