.btn-book:hover {
    background-color: #ffc107 !important;
}

.hero-header {
    background-image: linear-gradient(rgba(15, 13, 43, 0.9), rgba(15, 23, 43, 0.9)), url(/public/asset/img/bg-hero.jpg) !important;
    background-origin: border-box !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
a{
    text-decoration: none;
}
.primey{
    color: #FEA116 !important;
}
.text-white a{
    color: white !important;
}

.item-active {
    display: block !important;
}

.text-primary {
    color: #FEA116 !important;
    font-weight: bold !important;
}

h5 span {
    font-weight: 800 !important;
    line-height: 1.2 !important;
    color: #0F172B !important;
}








.service-item * {
    transition: .5s;
}

.service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08) !important;
    border-radius: 2px;
}

.service-item .material-symbols-outlined {
    color: #FEA116 !important;
    line-height: 1px !important;
    font-size: 40px !important;
    font-weight: 900 !important;
}

.service-item i {
    color: #FEA116 !important;
    font-size: 40px !important;
    font-weight: 900 !important;
    line-height: 1.5px !important;
}

.service-item h5 {
    margin-top: 10px !important;
    /* margin-bottom: 0.5rem; */
    font-weight: 800 !important;
    line-height: 1.2;
    color: #0F172B !important;
}

.service-item:hover {
    background-color: #FEA116 !important;
    transition: 0.10s; /*  add */
}

.service-item:hover .icofont-business-man {
    background-color: white !important;
}

.service-item:hover .material-symbols-outlined {
    color: white !important;
}

.service-item:hover .icofont-shopping-cart {
    color: white !important;
}

.service-item:hover .material-symbols-outlined {
    color: white !important;
}

.service-item:hover h5 {
    color: white !important;
}

.service-item:hover p {
    color: white !important;
}
